node_modules
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

*.zip
backend/annotated_types
backend/annotated_types-0.7.0.dist-info
backend/anyio
backend/anyio-3.7.1.dist-info
backend/bin

exceptiongroup
exceptiongroup-1.2.2.dist-info
fastapi
fastapi-0.104.1.dist-info
idna
idna-3.10.dist-info
mangum
mangum-0.17.0.dist-info
numpy
numpy-1.26.2.dist-info
pydantic
pydantic-2.5.2.dist-info
pydantic_core
pydantic_core-2.14.5.dist-info
scipy
scipy-1.11.4.dist-info
sniffio
sniffio-1.3.1.dist-info
starlette
starlette-0.27.0.dist-info
typing_extensions-4.12.2.dist-info
typing_extensions.py
